#item{
    background-color:#FFD0D0;
}
.ing{
    background-color: #F6FB7A;
}
#type{
    background-color: #FFD0D0;
}
.proceduer{
    background-color: #F9F9E0;
}
#one{
    background-color: #FF9EAA;
}
#two{
    background-color: #3AA6B9;
}
.data{
    width: 90%;
    margin-bottom: 5vh;
}